<%- contentFor('content') %>
<div class="row">
    <div class="col col-lg-12">
        <div class="card card-user">
            <div class="card-header">
                <h4 class="card-title text-center">Edit sensor</h4>
            </div>
            <div class="card-body">
                <form action="/sensors/<%= sensor.id %>/edit?_method=put" method="post">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="name" type="text" class="form-control" value="<%= sensor.name %>" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Type</label>
                                <select class="custom-select" name="type">
                                    <% sensorTypes.forEach(type => { %>
                                        <option <%= type.id === sensor.sensortype.id ? ' selected' : '' %> value="<%= type.id %>"><%= type.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="showLastMeasurement" class="form-check-input" type="checkbox" value="true" <%= sensor.showLastMeasurement ? "checked" : ""%> />
                                    Show last measurement
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input name="showGraph" class="form-check-input" type="checkbox" value="true" <%= sensor.showGraph ? "checked" : ""%>/>
                                    Show graph
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Color</label>
                                <select class="custom-select" name="color">
                                    <option<%= sensor.color === "primary" ? ' selected' : '' %> value="primary">Primary (Blue)</option>
                                    <option<%= sensor.color === "secondary" ? ' selected' : '' %> value="secondary">Secondary (Gray)</option>
                                    <option<%= sensor.color === "success" ? ' selected' : '' %> value="success">Success (Green)</option>
                                    <option<%= sensor.color === "danger" ? ' selected' : '' %> value="danger">Danger (Red)</option>
                                    <option<%= sensor.color === "warning" ? ' selected' : '' %> value="warning">Warning (Yellow)</option>
                                    <option<%= sensor.color === "info" ? ' selected' : '' %> value="info">Info (Cyan)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Latitude</label>
                                <input name="latitude" type="number" class="form-control" value="<%= sensor.latitude %>" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Longitude</label>
                                <input name="longitude" type="number" class="form-control" value="<%= sensor.longitude %>" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea name="description" class="form-control textarea" placeholder="Sensor description"><%= sensor.description %></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" class="btn btn-success" value="Save">
                            <a href="/sensors" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
