<%- contentFor('content') %>
<div class="row">
    <div class="col col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">Sensors</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% sensors.forEach(sensor => { %>
                            <tr>
                                <td><%= sensor.id %></td>
                                <td><%= sensor.name %></td>
                                <td><%= sensor.type %></td>
                                <td><%= sensor.description %></td>
                                <td class="text-right">
                                    <a href="/sensors/<%=sensor.id%>" class="btn btn-success btn-sm m-1">View</a>
                                    <a href="/sensors/<%=sensor.id%>/edit" class="btn btn-info btn-sm m-1">Edit</a>
                                    <a href="javascript:;" class="btn btn-danger btn-sm m-1">Delete</a>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <a href="/sensors/new" class="btn btn-success mr-4">Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
