<%- contentFor('content') %>
<div class="row">
    <div class="col col-lg-12">
        <div class="card card-user">
            <div class="card-header">
                <h4 class="card-title text-center">Edit User</h4>
            </div>
            <div class="card-body">
                <form action="/users/<%= user.id %>/edit?_method=put" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="username" type="text" class="form-control" value="<%= user.username %>" />
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input name="password" type="password" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <a href="javascript:;" class="btn btn-info">Generate API token</a>
                            <a href="javascript:;" id="api-token-btn" class="btn btn-success">Show</a>
                            <h4 class="text-secondary" id="api-token">*************</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" class="btn btn-success" value="Save">
                            <a href="/users" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- contentFor('js') %>
<script>
    $.fn.extend({
        toggleText: function (a, b) {
            return this.text(this.text() == b ? a : b);
        },
    });

    $('#api-token-btn').on('click', () => {
        $('#api-token-btn').toggleClass('btn-success');
        $('#api-token-btn').toggleClass('btn-danger');
        $('#api-token-btn').toggleText('Show', 'Hide');
        $('#api-token').toggleText('*************', '<%= user.apiToken %>');
    });
</script>