<%- contentFor('content') %>
<div class="row">
    <div class="col col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title text-center">View user</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3 d-flex flex-column justify-content-center">
                        <img src="https://avatars.dicebear.com/api/pixel-art/<%= user.username %>.svg" alt="avatar" class="ml-3 mr-3" />
                        <h3 class="mt-3 text-center"><%= user.username %></h3>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="javascript:;" class="btn btn-info">Generate API token</a>
                        <a href="javascript:;" id="api-token-btn" class="btn btn-success">Show</a>
                        <h4 class="text-secondary" id="api-token">*************</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="/users" class="btn btn-info">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('js') %>
<script>
    $.fn.extend({
        toggleText: function (a, b) {
            return this.text(this.text() == b ? a : b);
        },
    });

    $('#api-token-btn').on('click', () => {
        $('#api-token-btn').toggleClass('btn-success');
        $('#api-token-btn').toggleClass('btn-danger');
        $('#api-token-btn').toggleText('Show', 'Hide');
        $('#api-token').toggleText('*************', '<%= user.apiToken %>');
    });
</script>